.main-header {
  display: flex;
  margin-bottom: 15px;
}

.header {
  flex: 1;
  padding: 15px;
  font-size: 45px;
  align-items: center;
  text-align: center;
  background-color: rgba(117, 116, 116, 0.185);
  // border: 1px solid #ccc;
  p{
    margin: 7px;
  }
}

// @media (max-width: 768px) {
//   .main-container {
//     img{
//       max-width: 120px !important; 
//       max-height: 120px;
//       display: block;
//     }
//   }
// }