.main-header {
  display: flex;
  margin-bottom: 10px;
}

.header {
  flex: 1;
  padding: 15px;
  font-size: 50px;
  align-items: center;
  text-align: center;
}

@media (max-width: 680px) {
  .header {
    font-size: 40px !important;
  }
}

@media (max-width: 780px) {
  .header {
    font-size: 45px !important;
  }

  .main-header {
    margin-bottom: 20px !important;
  }
}

//para telas baixas
@media (max-height: 720px) {
  .header {
    font-size: 40px !important;
    padding: 10px !important;
  }
}

//para telas altas
@media (min-height: 1400px) {
  .header {
    font-size: 70px !important;
  }
}