
.table-row {
  width: 100%;
  font-size: 35px;
  display: flex;
  margin-top: 10px;
  // border: 1px solid #ccc;
}

.table-flag,
.table-cell {
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; /* Alinha horizontalmente o conteúdo */
}


.flag-content {
  width: 70px; 
  height: 40px; 
  margin-right: 8px;
  margin-bottom: 4px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.currency-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border: 1px solid #ccc;
}

// .currency-image {
//   width: 70px; /* Ajuste conforme necessário para corresponder à altura do texto */
//   height: 40px; /* Ajuste conforme necessário para corresponder à altura do texto */
//   margin-right: 8px;
//   margin-bottom: 4px; /* Ajuste a margem inferior conforme necessário */
//   object-fit: cover; /* Pode ajustar para 'contain' se preferir */
// }
